(python_advanced_features)=

# Chapter 8

## Overview

```{tip}
With this last lecture, our advice is to **skip it on first pass**,
unless you have a burning desire to read it.
```

It\'s here

1.  as a reference, so we can link back to it when required, and
2.  for those who have worked through a number of applications, and now
    want to learn more about the Python language

A variety of topics are treated in the lecture, including generators,
exceptions and descriptors.

## Iterables and Iterators

We\'ve {ref}`already said something <iterating_version_1>` about iterating in Python.

Now let\'s look more closely at how it all works, focusing in Python\'s
implementation of the `for` loop.

### Iterators

Iterators are a uniform interface to stepping through elements in a
collection.

Here we\'ll talk about using iterators---later we\'ll learn how to
build our own.

Formally, an *iterator* is an object with a `__next__` method.

For example, file objects are iterators .


The objects returned by `enumerate()` are also iterators

In [1]:
e = enumerate(['foo', 'bar'])
next(e)

(0, 'foo')

In [2]:
next(e)

(1, 'bar')

as are the reader objects from the `csv` module .

Let\'s create a small csv file that contains data from the NIKKEI index

### Iterators in For Loops

All iterators can be placed to the right of the `in` keyword in `for`
loop statements.

In fact this is how the `for` loop works: If we write

```python
for x in iterator:
    <code block>
```

then the interpreter

-   calls `iterator.___next___()` and binds `x` to the result
-   executes the code block
-   repeats until a `StopIteration` error occurs

So now you know how this magical looking syntax works

```python
f = open('somefile.txt', 'r')
for line in f:
    # do something
```

The interpreter just keeps

1.  calling `f.__next__()` and binding `line` to the result
2.  executing the body of the loop

This continues until a `StopIteration` error occurs.

### Iterables

You already know that we can put a Python list to the right of `in` in a
`for` loop

In [3]:
for i in ['spam', 'eggs']:
    print(i)

spam
eggs

So does that mean that a list is an iterator?

The answer is no

In [4]:
x = ['foo', 'bar']
type(x)

list

In [5]:
next(x)

TypeError: 'list' object is not an iterator

So why can we iterate over a list in a `for` loop?

The reason is that a list is *iterable* (as opposed to an iterator).

Formally, an object is iterable if it can be converted to an iterator
using the built-in function `iter()`.

Lists are one such object

In [6]:
x = ['foo', 'bar']
type(x)

list

In [7]:
y = iter(x)
type(y)

list_iterator

In [8]:
next(y)

'foo'

In [9]:
next(y)

'bar'

In [10]:
next(y)

StopIteration:

Many other objects are iterable, such as dictionaries and tuples.

Of course, not all objects are iterable

In [11]:
iter(42)

TypeError: 'int' object is not iterable

To conclude our discussion of `for` loops

-   `for` loops work on either iterators or iterables.
-   In the second case, the iterable is converted into an iterator
    before the loop starts.

### Iterators and built-ins

Some built-in functions that act on sequences also work with iterables

-   `max()`, `min()`, `sum()`, `all()`, `any()`

For example

In [12]:
x = [10, -10]
max(x)

10

In [13]:
y = iter(x)
type(y)

list_iterator

In [14]:
max(y)

10

One thing to remember about iterators is that they are depleted by use

In [15]:
x = [10, -10]
y = iter(x)
max(y)

10

In [16]:
max(y)

ValueError: max() arg is an empty sequence

(name_res)=

## Names and Name Resolution

### Variable Names in Python

Consider the Python statement

In [17]:
x = 42

We now know that when this statement is executed, Python creates an
object of type `int` in your computer\'s memory, containing

-   the value `42`
-   some associated attributes

But what is `x` itself?

In Python, `x` is called a *name*, and the statement `x = 42` *binds*
the name `x` to the integer object we have just discussed.

Under the hood, this process of binding names to objects is implemented
as a dictionary---more about this in a moment.

There is no problem binding two or more names to the one object,
regardless of what that object is

In [18]:
def f(string):      # Create a function called f
    print(string)   # that prints any string it's passed

g = f
id(g) == id(f)

True

In [19]:
g('test')

test

In the first step, a function object is created, and the name `f` is
bound to it.

After binding the name `g` to the same object, we can use it anywhere we
would use `f`.

What happens when the number of names bound to an object goes to zero?

Here\'s an example of this situation, where the name `x` is first bound
to one object and then rebound to another

In [20]:
x = 'foo'
id(x)

1370827234480

In [21]:
x = 'bar'  # No names bound to the first object

What happens here is that the first object is garbage collected.

In other words, the memory slot that stores that object is deallocated,
and returned to the operating system.